.container{
    width: 98%;
    height: 100%;
    background-color: white;
    padding-bottom: 228px;
    overflow: hidden;
    padding-top: 10px;
}
.products {
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;
}
.heading {
    text-decoration: underline;
    color: #2c3e50;
    cursor:pointer;
}
.content{
    width: 83%;
    float: left;
}
.navbar-inverse{
    border-radius: 0;
    background-color: #00bd9b;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}