.container{
    width: 100%;
    height: 100%;
    background-color: white;
    padding-bottom: 228px;
    overflow: hidden;
    padding-top: 10px;
}
.products {
    margin: 0;
    list-style-type: circle;
    padding: 0;
}
.products li{
    width: 100%;
    /*display: inline-block;*/
}
.content{
    width: 83%;
    float: left;
}

.reminder-past {
    margin: 0;
    padding: 0;
}
.reminder-past li{
    width: 100%;
    list-style-type: none;
}
.reminder-past li:before {
    content: '✓';
    float: left;
    margin-left: -13px;
    margin-top: 8px;
    margin-right: 10px;
}
.navbar-inverse{
    border-radius: 0;
    background-color: #00bd9b;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}